select {
  width: unset;
}

form {
  background: white;
  margin-top: 30px;
  border-radius: 5px;
  padding-top: 20px !important;
}

.row {
  margin-bottom: 10px;
}

form #divButtons {
  display: flex;
  justify-content: flex-end;
}

#frmMaintenance {
  margin-top: 5px;
}

#divButtons button {
  margin: 80px 10px 10px;
}

#divProdutos {
  height: 280px;
  margin-top: 5px;
}

#divServicos {
  height: 280px;
}

.autoComplete_result {
  max-width: unset !important;
  border-left: 2px solid #0d46a0 !important;
  border-right: 2px solid #0d46a0 !important;
  align-content: left !important;
}
#autoComplete_list {
  left: unset !important;
  right: unset !important;
  width: 22.5rem !important;
}
.autoComplete_highlighted {
  color: #0d46a0 !important;
}
